{% extends 'base.html' %}
{% block content %}
    <h3>Total:</h3><br/>
    <p>{{ order.get_total_price }}</p>
    <a href="{% url 'orders:order_pay' order.id %}" class="btn btn-primary"> pay</a>
   <br><br>
    <form action="{% url 'orders:apply_coupon' order.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Apply">
    </form>
{% endblock %}

{#<form class="mb-5" action="">#}
{#                    <div class="input-group">#}
{#                        <input type="text" class="form-control p-4" placeholder="Coupon Code">#}
{#                        <div class="input-group-append">#}
{#                            <button class="btn btn-primary">Apply Coupon</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </form>#}